[Unit]
Description = Backend Service

[Service]
User={{app_user}}
WorkingDirectory=/app
Environment=DB_HOST="{{ rds_endpoint }}"
Environment=NEW_RELIC_APP_NAME=backend
Environment=NEW_RELIC_LICENSE_KEY={{new_relic_key}}
ExecStart=/bin/node -r newrelic /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target